.App{
  width: 100%;
  height: 100vh;
  /* overflow:auto */
}

/* NavBar */
.header{
  height: 10%;
  width: 100%;
}
/* Body of the page */
.BodyContainer{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.body{
  height: 90%;
  /* margin: 10px; */
  overflow-y: scroll;
  overflow-x: hidden;
  
}
/* Footer  */
.Footer{
  height: 10%;
  background-color: lightgrey;
}

.sideNavBar{
  background-color: #F4F3F3;
  width: 15%;
  overflow-y: scroll;
height: 100%;
}
.content{
  width: 85%;
  /* padding: auto; */
  position: relative;
  
}

/* .rightNavBar{
  width: 12%;
  background-color: #F4F3F3;
  justify-self: end;
} */

/* .sidebar{
  position: fixed;
  height: 60%;
  width: 200px ;
  background-color: #F4F3F3;
 
  border-radius: 5px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12) 
} */

/* .sidebarList{
  height: auto;
  padding: 0;
  width: 100%;
  
}

.sidebarList, .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  
  margin: 0;
  display: flex;
  flex-direction: column;

align-items: center;
}

.sidebarList .row:hover{
  cursor: pointer;
  font-size: 20px;
  background-color: gray ;
}

.row #title{
  flex: 70%;
  display: grid;
  place-items: center;
  padding: 20px;
  
} */

/* Item */
.record{
  margin: 10px;
} 





